<!DOCTYPE html>

<html lang="en">
<head>
	<partial name="_Head" />
</head>

<body class="index-five" style="background: url('/assets/images/front_page_tile.webp') repeat center top transparent; color: #2c3e50;">
	

    
        @RenderBody()

	<partial name="_Scripts" />s
</body>
</html>
