@using AdeptusMart06.WebUI
@using AdeptusMart01.Core.Entities
@model Product

<!DOCTYPE html>



@{
    SelectList categories = ViewData["Categories"] as SelectList;
}



<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Account settings - Account | Sneat - Bootstrap 5 HTML Admin Template - Pro</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
</head>

<body>
    <!-- Layout wrapper -->

    <div class="layout-container">
        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">

                            <!-- Account -->
                            <hr class="my-0" />
                            <div class="card-body">
                                <form enctype="multipart/form-data" method="post" asp-area="Management" asp-controller="Product" asp-action="Create">

                                    @Html.AntiForgeryToken()
                                   
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" asp-for="Name">Name</label>
                                            <input type="text" class="form-control" asp-for="Name">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        
                                        <div class="mb-3 col-md-6">
                                              <label class="form-label" asp-for="Price">Price</label>
                                              <input type="number" class="form-control" asp-for="Price">
                                              <span asp-validation-for="Price" class="text-danger"></span>
                                        </div>


                                        <div class="mb-3 col-md-6">
                                            <label asp-for="Currency" class="form-label">Currency</label>
                                            <select asp-for="Currency" class="select2 form-select">
                                                <option value="">Select Currency</option>
                                                <option value="₺">TRY</option>
                                                <option value="$">USD</option>
                                                <option value="€">Euro</option>
                                                <option value="£">Pound</option>
                                                <option value="₿">Bitcoin</option>
                                            </select>
                                        </div>

                                          
                                        <div class="mb-3 col-md-6">
                                                <label class="form-label" asp-for="Star">Star</label>
                                                <input type="number" class="form-control" asp-for="Star">
                                                <span asp-validation-for="Star" class="text-danger"></span>
                                        </div>                                    
                                        
                                        
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" asp-for="Details">Details</label>
                                            <input type="text" class="form-control" asp-for="Details">
                                            <span asp-validation-for="Details" class="text-danger"></span>
                                        </div>

                                         
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" asp-for="Information">Information</label>
                                            <input type="text" class="form-control" asp-for="Information">
                                            <span asp-validation-for="Information" class="text-danger"></span>
                                        </div>      
                                        
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="CategoryId"></label>

                                            <select class="form-select" asp-for="CategoryId" asp-items="categories"></select>

                                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                                        </div>
                                        

                                        <div class="mb-3">
                                            <label class="form-label" asp-for="ImageUrl1">Image 1</label>
                                            <input class="form-control" type="file" name="img1" />
                                            <span asp-validation-for="ImageUrl1" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" asp-for="ImageUrl2">Image 2</label>
                                            <input class="form-control" type="file" name="img2" />
                                            <span asp-validation-for="ImageUrl2" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" asp-for="ImageUrl3">Image 3</label>
                                            <input class="form-control" type="file" name="img3" />
                                            <span asp-validation-for="ImageUrl3" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" asp-for="ImageUrl4">Image 4</label>
                                            <input class="form-control" type="file" name="img4" />
                                            <span asp-validation-for="ImageUrl4" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-primary me-2">Save changes</button>
                                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Content -->


            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>


    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../assets/js/pages-account-settings-account.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
